In [ ]:
print ("kirri")

kirri

# python programming

In [3]:
# python programming is easy to learn

In [8]:

k=int(input("enter k value : "))
m=int(input("enter m value : "))

print("total value  :" , k+m)

enter k value :  45
enter m value :  67

total value  : 112

In [9]:
# basic addition programming

k=23
m=345
print("total value is :" ,k+m)

total value is : 368

  1.input  is a function to take dynamic inputs from te users
  2.int is a data to converts text in to integer
  3.write a programm to arthametical operation on 2 values take dynamic inputs

# all arthamatical programming

In [15]:
a=int(input("inter the value of a: "))
b=int(input("inter the value of b: "))

print("the addition of two numbers is : " ,a+b) 
print("the substraction of two numbers is : " ,a-b) 
print("the multiplication  of two numbers is : " ,a*b)
print("the division of two numbers is : " ,a/b) 
print("the modelus of two numbers is : " ,a%b)

inter the value of a:  23
inter the value of b:  44

the addition of two numbers is :  67
the substraction of two numbers is :  -21
the multiplication  of two numbers is :  1012
the division of two numbers is :  0.5227272727272727
the modelus of two numbers is :  23

# write a program to print name,qualification, location, age

In [16]:
name=input("enter your name : ")
qualification=input("enter your qualification :")
location=input("enter your location : ")
age=int(input("enter your age : " ))

enter your name :  kiran
enter your qualification : B.tech
enter your location :  Hyderabad
enter your age :  26

# variables

1. variable is a data container/ it is a name which holds value

In [18]:
a =10

In [19]:
b=35

In [20]:
c="hyderabad"

variables name rules:
1. variable names should be alphanumaric(underscore is allowed)
2.variable names may be short names like a, f,..or more descriptive name like area =45,       width=34...
3.variable name should start with characters only
4.keywords should not be used as variable names

In [21]:
area= 54 # valid

In [22]:
4area=55 # invalid

SyntaxError: invalid decimal literal (1803367670.py, line 1)

In [24]:
#variable names are case sensitive

In [25]:
AGE=78
age=89 # both are different

In [26]:
AGE=78

In [27]:
age=89

variables :
numaric : int,float,complex
txt : strings

ex:
a=10             # integer
b=23.4           # float 
c=4+6j           # complex
d="hyderabad"    # string
type() this is used to